<%= form_for :profile, url: profiles_path do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited
        this profile from being saved:</h2>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
 <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :I_am_looking_for %><br>
    <%= f.radio_button :kind, "people" %> <%= f.label :people %><br>
    <%= f.radio_button :kind, "projects" %> <%= f.label :projects %><br>
    <div id="lookingForPeople">
      <label>Enter a brief description of your project</label>
      <%= f.text_area :about %>
    </div>
    <div id="lookingForProject">
      <label>Enter a brief description of your skills</label>
      <%= f.text_area :about %>
    </div>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<script>
$(document).ready(function(){
    $("#lookingForPeople").hide();
    $("#lookingForProject").hide();

    $("input:radio[name='profile[kind]']").change(function(){  

            if (this.value == 'projects' && this.checked){
              $("#lookingForPeople").hide();
              $("#lookingForProject").show();
            }
            if (this.value == 'people' && this.checked) {
              $("#lookingForProject").hide();
              $("#lookingForPeople").show();
            }
    });

});
</script>