<%= bootstrap_form_for("profile", :url => profiles_path, :html => { :class => "form-horizontal"}) do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited
        this profile from being saved:</h2>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
 <% end %>

  <fieldset>
    <legend>User Registration</legend>
      <div class="col-lg-10">

      <%= f.text_field :name %>
      <%= f.text_field :email %>

      <%= f.form_group :kind, label: { text: "I am Looking For" }, help: "Optional Help Text Placeholder" do %>
        <%= f.radio_button :kind, "collaborateurs", label: "Collaborateurs"%>
        <%= f.radio_button :kind, "a project", label: "A project" %>
      <% end %>

      <div id="lookingForPeople">
        <%= f.text_area :about, label: "Enter a brief description about your project and the skills you are looking for in your collaborateurs." %>
      </div>
      <div id="lookingForProject">
        <%= f.text_area :about, label: "Enter a brief description about your skills" %>
      </div>
   
    <div class="form-actions">
      <%= f.submit %>
    </div>

  </div>
  </fieldset>
<% end %>

</br>
<p>Psst! You can also take a look at other collaborateur's <a href="/profiles">here</a>.

<script>
$(document).ready(function(){
    $("#lookingForPeople").hide();
    $("#lookingForProject").hide();

    $("input:radio[name='profile[kind]']").change(function(){  

            if (this.value == 'a project' && this.checked){
              $("#lookingForPeople").hide();
              $("#lookingForProject").show();
            }
            if (this.value == 'collaborateurs' && this.checked) {
              $("#lookingForProject").hide();
              $("#lookingForPeople").show();
            }
    });

});
</script>