<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>About Me:</strong>
  <%= @profile.about_me %>
</p>

<p>
  <strong>About You:</strong>
  <%= @profile.about_you %>
</p>

<p>
  <%= link_to "Back to Collaborateurs", profiles_path %>
</p>

<p>
<%= link_to "Delete this profile", profile_path(@profile),
  method: :delete, data: { confirm: 'Are you sure?' }%>
</p>

