<!DOCTYPE html>
<html>
<head>
  <title>Collaborateur</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= render 'layouts/shim' %></head>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>
    </div>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
